*.tar.gz
*.tweet.c
*.o
*.d
*.so
*.a
*.m4
*~
config.py
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
__pycache__/
crypto.json
config.h
config.h.in
config.log
config.status
configure
libtool
.deps/
.libs/
.dirstamp
*.la
*.lo
stamp-h1
